%h1 Ckeditor Rails Demo
%p 
  This page is to demo the
  <a href='https://github.com/galetahub/ckeditor'>Ckeditor Rails gem</a>.
  Below are the two editors which come bundled with the demo. It's possible to configure editors to display exactly what you like, as well as add extra plugins, host from a CDN etc. Give them a whirl!</p>

%h2 Basic Editor

%h2 Full Editor

%h2 Useful Resources
%ul
  %li= link_to 'Github Repo', 'https://github.com/galetahub/ckeditor'
  %li= link_to 'Offical Ckeditor Website', 'https://ckeditor.com/ckeditor-4'
